/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
 /* * {border: 1px dotted black;}  */

/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
 box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
 margin: 0px;                    /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
 background-color: #EEEEEE;    /* achtergrondkleur lichtgrijs */
 color: #303030;               /* tekstkleur donkergrijs */
}  

div {                             /* geldt voor div */
 overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S *************************/

/* Indeling en opmaak voor alle pagina's */

.page {
 width: 700px;                   /* vaste breedte van 700 pixels */
 margin: 10px auto;              /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
 margin: 10px 0px;
}


main {                       
 text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
 margin: 10px 0px;
 text-align: center;             /* tekst centreren */
 color: skyblue;
} 

p {
 margin: 10px 0px;
 text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
 margin: 10px 0px;
}

a {
 color: skyblue;
 text-decoration: none;
}

a:hover {                         /* <a> als je er met de muis op staat */
 text-decoration: underline;
}

.smalltext {
 top: center;
 font-size: 0.7em;
}
.belangrijk{
 color: rgb(100, 143, 97);
}


/************************* NAVIGATIEBALK *************************/

/* navigatiebalk voor alle pagina's */

nav ul {                        /* <ul> die child is van <nav> */
 list-style-type: none;
 margin: auto;
 padding: 0px;
 background-color: #7daf79;
 overflow: hidden;
}

nav ul li {                     /* <li> die child is van <ul> die op zijn beurt child is van <nav> */
 float: left;
}

li.menu_logo {
 overflow:hidden; /* nodig om te zorgen dat de li niet hoogte 0 krijgt, maar de hoogte van de float die erin zit */
 float: right;
 height: 46px;

}

li.menu_logo img {
 width:100%;
 height:100%;
 margin:0px;
}

nav li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

nav li a:hover {
 background-color: #62b950;
}

nav li a.active {
 background-color: #4a863c;
}
ul {
 color: #7daf79;
 border:1px solid;
}

/************************* HOOFDPAGINA *************************/

/* Indeling en opmaak voor hoofdpagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

 /* zorgt dat plaatje niet tegen tekst komt */


.item-tekst {
 float: right;
 width: 450px;
}
#oorsprong{
 background-color: rgb(125, 175, 121);
 width:70%;
 height: 200px;
 overflow:auto;
 float: left;
 margin-left:100px;
 margin-bottom: 6px;
  
}
#titel-oorsprong{
 border-style: solid;
 color: rgb(74, 139, 60);
 background-color: rgb(220, 219, 219)
}
#wat-is-irish-tapdance{
 border-style: solid;
 color: rgb(74, 139, 60);
 background-color: rgb(220, 219, 219);
 margin-top: 10px;
 
}
#home:hover{
 background-color: rgb(118,214,97)

}
#filmpje{
 float: left;
 margin-left: 70px;

}
#tekst-filmpje{
 float: left;
 margin-left: 70px;
 border-style: outset;
 background-color: rgb(158, 202, 155);

}
#schoenen{
 float: right;
 display: inline;
  
  

   /* hoe verstel ik de hoogte van het plaatje bovenaan de pagina zodat hij gelijk staat met de paginalinks? */
  
}


  /************************* SUBPAGINA *************************/

/* Indeling en opmaak voor subpagina */
#let-op{ 
 color: red;
 border: 1px dashed #000000 ;
  padding-left: 10px;
 font-family: cursive;
}
.fotos {
 display: block;
 width:200px;
 border: 10px groove rgb(119, 193, 113);
 margin-top: 10px;
 padding-right: 10px;
 padding-left: 10px;
}

.fotos img {
 width:100%;
 
}

.beschrijving{
 font-family: fantasy;

}
.titels{
  border-style: solid;
   color: rgb(74, 139, 60);
   background-color: rgb(220, 219, 219);
   margin-top: 10px;
}
#st-patricksfoto{
  border: 10px groove rgb(46, 115, 33);
}
#link-ierse-muziek{
  border-style: dotted;
  color: rgb(238, 58, 58)
}

/* verzin deze zelf... */